<h3>
  <i class="fa fa-angle-right"></i>
  {{formTitle}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form" {{action "search" on="submit"}}>

          <div class="form-group">
            <div class="col-lg-4">
              <label class="form-label">Voluntario</label>
              <div class="search-input-width">
              {{search-input type="text"
              value=infoColaborador
              selectedItem=colaboradorSeleccionado
              class="form-control"
              placeholder="Nombre o Apellido del Voluntario"
              property="razonSocial"
              session=session service="colaboradores"
              modelType="colaborador"
              jsonRoot="colaboradores"
              store=store
              ignoredProperties="tipoColaborador,persona,especialidad,campanhasColaboradores"
              queryScope="by_persona"}}
              </div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Especialidad Médica</label>
              <div class="search-input-width">
              {{search-input type="text"
              value=infoEspecialidad
              selectedItem=especialidadSeleccionada
              class="form-control"
              placeholder="Especialidad Médica"
              property="descripcion"
              session=session service="especialidades"
              modelType="especialidad"
              jsonRoot="especialidades"
              store=store
              queryScope="by_descripcion"}}
              </div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Tipo</label>
              {{view Ember.Select
              content=tipoColaboradores
              optionLabelPath="content.nombreClub"
              selection=tipoColaboradorSeleccionado
              value=tipoColaboradorSeleccionado
              classNames="form-control"
              prompt="Seleccione un tipo de voluntario" }}
            </div>
          </div>



          <div class="form-group">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-theme">Generar Reporte</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
