<div class="form-group">
  <!--Inicio Sección Datos Generales de la venta -->
  <!-- Pagado/No Pagado -->
  <div class="col-lg-3" {{bind-attr class="errors.cliente:has-error errors.cliente:has-feedback feedback.clienteRequerido:has-error feedback.clienteRequerido:has-feedback"}}>
      <label class="form-label">Razon Social</label>
        {{#if editando}}
          {{input type="text" value=persona.razonSocial class="form-control" disabled="true"}}
        {{else}}
          {{input type="text" value=nombreEmpresa class="form-control" placeholder="Nombre" readonly=true }}
            <span class="help-block">{{feedback.clienteRequerido}}</span>
            {{#if feedback.clienteRequerido}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {{/if}}
        {{/if}}
  </div>
  <div class="col-lg-3">
    <label class="form-label">Campañas</label>
    {{#if editando}}
      {{input type="text" value=campanha.nombre class="form-control" disabled="true"}}
    {{else}}
      {{view Ember.Select content=campanhas optionLabelPath="content.nombre" selection=campanhaSeleccionada value=campanhaSeleccionada classNames="form-control" }}
    {{/if}}
  </div>
</div>
