<h3>
  <i class="fa fa-angle-right"></i>
  {{formTitle}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form" {{action "save" on="submit"}} onkeydown="Bodega.keydownFormHandler('controller:producciones.new', 'save');">
          <div class="form-group">
            <div class="col-lg-4"  {{bind-attr class="errors.descripcion:has-error errors.descripcion:has-feedback"}}>
              <label class="form-label"  for="nombre">Descripción</label>
              {{focus-input  type="text" value=descripcion class="form-control" placeholder="Descripción" autofocus="autofocus"}}
              <span class="help-block">{{error errors.descripcion}}</span>
              {{#if errors.descripcion}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
            <div class="col-lg-4">
              <label class="form-label"  for="destino">Observación</label>
              {{focus-input  type="text" value=origen class="form-control" placeholder="Observación" autofocus="autofocus"}}

            </div>
            <div class="col-lg-4">
              <label class="form-label"  for="origen">Destino</label>
              {{focus-input  type="text" value=destino class="form-control" placeholder="Destino" autofocus="autofocus"}}

            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <label class="form-label"  for="fechaInicio">Fecha Inicio</label>
              {{view Bodega.views.DatePickerView value=fechaInicio}}
            </div>
            <div class="col-lg-4">
              <label class="form-label"  for="fechaFin">Fecha Fin</label>
              {{view Bodega.views.DatePickerView value=fechaFin}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <label class="form-label">Voluntario</label>
              <div class="search-input-width">
                {{search-input id="colaborador" type="text" value=descripcionSW queryScope="by_persona" selectedItem=colaboradorSeleccionado class="form-control" placeholder="Voluntario" property="razonSocial" session=session service="colaboradores" modelType="colaborador" jsonRoot="colaboradores" store=store ignoredProperties="persona,tipoColaborador,especialidad,campanhasColaboradores"}}
              </div>
            </div>
            <div class="col-lg-3">
              <label class="form-label">Costo Ticket</label>
                {{number-input min="0" enter='contarEnters' value=costoTicket class="form-control" placeholder="Precio Ingreso" }}
            </div>
            <div class="col-lg-3">
              <label class="form-label">Costo Estadia</label>
                {{number-input min="0" enter='contarEnters' value=costoEstadia class="form-control" placeholder="Precio Ingreso" }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4">
              <label class="form-label">Compañia</label>
                {{focus-input  type="text" value=companhia class="form-control" placeholder="Compañia" autofocus="autofocus"}}
            </div>
            <div class="col-lg-4">
              <label class="form-label">Observacion</label>
                {{focus-input  type="text" value=observacion class="form-control" placeholder="Observación" autofocus="autofocus"}}
            </div>
            <div class="col-lg-1">
              <button type="button" {{action 'agregarDetalle'}} class="btn btn-theme float-right" {{bind-attr disabled=feedback.existencia}} style="margin-top: 22px;" onkeydown="Bodega.enterFormHandler('controller:ventas.new', 'agregarDetalle');">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
          {{#if colaboradores}}
            <div class="form-group">
              <div class="col-lg-2 first-cell">
                <label class="form-label">Colaboradores</label>
              </div>
              <div class="col-lg-2">
                <label class="form-label">C. Ticket</label>
              </div>
              <div class="col-lg-2">
                <label class="form-label">C. Estadia</label>
              </div>
              <div class="col-lg-2">
                <label class="form-label">Compañia</label>
              </div>
              <div class="col-lg-2">
                <label class="form-label">Observacion</label>
              </div>
            </div>
          {{else}}
              <div class="form-group">
                <div class="col-lg-12 first-cell">
                  <label class="form-label">Debe agregar colaboradores para guardar el viaje</label>
                </div>
              </div>
          {{/if}}
          {{#each det in colaboradores}}
          <div {{bind-attr class="det:form-group det.promocion:no-margin-bottom"}}>
            <div class="col-lg-2 first-cell">
              {{input type="text" readonly="true" value=det.colaborador.razonSocial class="form-control"}}
            </div>
            <div class="col-lg-2">
              {{input type="text" readonly="true" value=det.costoTicket class="form-control"}}
            </div>
            <div class="col-lg-2">
              {{input type="text" readonly="true" value=det.costoEstadia class="form-control"}}
            </div>
            <div class="col-lg-2">
              {{input type="text" readonly="true" value=det.companhia class="form-control"}}
            </div>
            <div class="col-lg-2">
              {{input type="text" readonly="true" value=det.observacion class="form-control"}}
            </div>
            <div class="col-lg-1">
              <button type="button" {{action 'borrarColaborador' det}} class="btn btn-theme float-right">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
          {{/each}}
          <div class="form-group">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-theme">Guardar</button>
              <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
