<div class="panel panel-default">
    <div class="panel-heading">
        <h5>
      <i class="fa fa-angle-right"></i>Detalles del Tratamiento</h5>
    </div>
    <div class="panel-body">
        <div class="form-horizontal form-detalles">
            {{#unless detalles}}
                <div class="form-group">
                    <div class="col-lg-12 first-cell">
                        <label class="form-label">No existen detalles</label>
                    </div>
                </div>
            {{else}}
            <div class="form-group">
              <div class="col-lg-2 first-cell">
                <label class="form-label">Especialidad</label>
              </div>
              <div class="col-lg-2">
                <label class="form-label">Cantidad</label>
              </div>
              <div class="col-lg-2">
                <label class="form-label">Tratamiento</label>
              </div>
              {{!-- {{#if det.producto.necesitaConsentimientoFirmado}} --}}
                <div class="col-lg-2">
                  <label class="form-label">Consentimiento Firmado</label>
                </div>
              {{!-- {{/if}} --}}
            </div>
            {{/unless}}

            {{#each det in detalles}}
                <div class="form-group">
                    <div class="col-lg-2 first-cell">
                        {{input type="text" readonly="true" value=det.producto.especialidad.descripcion class="form-control"}}
                    </div>
                    <div class="col-lg-2">
                        {{input type="text" readonly="true" value=det.cantidad class="form-control"}}
                    </div>
                    <div class="col-lg-2">
                        {{input type="text" readonly="true" value=det.producto.descripcion class="form-control" placeholder="Descripción del producto" }}
                    </div>
                    {{#if det.producto.necesitaConsentimientoFirmado}}
                      <div class="col-lg-2">
                        {{view Bodega.BetterCheckboxComponent action='revocacion' value=det.producto checked=det.consentimientoFirmado }}
                      </div>
                    {{/if}}

                    <div class="col-lg-1 last-cell">
                        <button type="button" {{action borrarDetalle det}} class="btn btn-theme">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
