<h3>
<i class="fa fa-angle-right"></i>
Cuotas de Venta N° {{nroFactura}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel" style="padding: 0px;">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>N° de Cuota</th>
            <th>Monto</th>
            <th>Fecha de Vencimiento</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#each}}
          <tr>
            <td>{{nroCuota}}</td>
            <td>{{monto}}</td>
            <td>{{dateformat fechaVencimiento}}</td>
            <td>{{estado}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{view Bodega.views.PaginationView}}
  </div>
</div>