<h3>
  <i class="fa fa-angle-right"></i>
  {{formTitle}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form" {{action "save" on="submit"}}>
          <div class="form-group">
            <div class="col-lg-3 taginputsimple" {{bind-attr class="errors.medioPago:has-error errors.medioPago:has-feedback"}}>
              <label class="form-label">Medio de Pago</label>
              {{view Ember.Select
                content=medioPagos
                optionLabelPath="content.nombre"
                selection=medioPagoSeleccionado
                value=medioPagoSeleccionado
                classNames="form-control"}}
              {{#if errors.medio_pago}}
                  <span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-adjusted"></span>
              {{/if}}
            </div>
            <div class="col-lg-3 taginputsimple" {{bind-attr class="errors.tipoCredito:has-error errors.tipoCredito:has-feedback"}}>
              <label class="form-label">Tipo de Crédito</label>
              {{view Ember.Select
                content=tipoCreditos
                optionLabelPath="content.descripcion"
                selection=tipoCreditoSeleccionado
                value=tipoCreditoSeleccionado
                classNames="form-control"}}
              {{#if errors.tipo_credito}}
                  <span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-adjusted"></span>
              {{/if}}
            </div>
            <div class="col-lg-3" {{bind-attr class="errors.cantidadCuotas:has-error errors.cantidadCuotas:has-feedback"}}>
              <label class="form-label" for="cantidadCuotas">Cantidad de Cuotas</label>
              {{number-input min="0" value=cantidadCuotas class="form-control" placeholder=numeral }}
              <span class="help-block">{{error errors.cantidadCuotas}}</span>
              {{#if errors.cantidadCuotas}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
            <div class="col-lg-3" {{bind-attr class="errors.interes:has-error errors.interes:has-feedback"}}>
              <label class="form-label" for="interes">Interés</label>
              {{decimal-field min="0" number=interes class="form-control" placeholder=numeral }}
              <span class="help-block">{{error errors.interes}}</span>
              {{#if errors.interes}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-theme">Guardar</button>
              <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
