<h3>
  <i class="fa fa-angle-right"></i>
  Promociones
  {{#link-to 'promociones.new'}}
    <button class="btn btn-theme btn-sm glyphicon glyphicon-plus" style="margin-top: -5px; margin-left: 5px;"></button>
  {{/link-to}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    {{view Bodega.views.FilterView}}
    <div class="table-responsive content-panel" style="padding: 0px;">
      <table class="table table-bordered table-striped table-condensed">
          <thead>
              <tr>
                  <th>Descripción</th>
                  <th>Descuento</th>
                  <th>Vigencia desde</th>
                  <th>Vigencia hasta</th>
                  <th>Permanente</th>
                  <th>Exclusiva</th>
                  <th>Por unidad</th>
                  <th style="width:11%;"></th>
              </tr>
          </thead>
          <tbody>
          {{#each}}
              <tr>
                  <td>{{descripcion}}</td>
                  <td>{{porcentajeDescuento}}</td>
                  <td>{{dateformat fechaVigenciaDesde}}</td>
                  <td>{{dateformat fechaVigenciaHasta}}</td>
                  <td>{{yesno permanente}}</td>
                  <td>{{yesno exclusiva}}</td>
                  <td>{{yesno porUnidad}}</td>
                  <td class="center">
                    {{#link-to 'promocion.edit' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-pencil"></button>
                    {{/link-to}}
                    {{#link-to 'promocion.delete' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-remove" 
                              data-toggle="modal" data-target="#promocionDelete"></button>
                    {{/link-to}}
                  </td>
              </tr>
          {{/each}}
          </tbody>
      </table>
    </div>
    {{view Bodega.views.PaginationView}}
  </div>
</div>