<h3>
  <i class="fa fa-angle-right"></i>
  {{formTitle}}
  {{formSub}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form" {{action "search" on="submit"}}>
          <div class="form-group">
            <div class="col-lg-6">
               <label class="form-label" for="proveedores">Proveedor</label>
                {{view Bodega.FocusSelect content=proveedores
                optionValuePath="content.id"
                selection=selectedProveedor
                optionLabelPath="content.razonSocial"
                classNames="form-control"
                prompt="Seleccione un Proveedor"}}
            </div>
						<div class="col-lg-6">
               <label class="form-label" for="depositos">Deposito</label>
                {{view Ember.Select content=depositos
                optionValuePath="content.id"
                selection=selectedDeposito
                optionLabelPath="content.nombre"
                classNames="form-control"
                prompt="Seleccione un Deposito"}}
            </div>
          </div>
          <div class="form-group">
						<div class="col-lg-6">
               <label class="form-label" for="empresas">Empresa</label>
                {{view Ember.Select content=empresas
                optionValuePath="content.id"
                selection=selectedEmpresa
                optionLabelPath="content.nombre"
                classNames="form-control"
                prompt="Seleccione una Empresa"}}
           </div>
            <div class="col-lg-6">
               <label class="form-label" for="sucursales">Sucursal</label>
                {{view Ember.Select content=sucursales
                optionValuePath="content.id"
                selection=selectedSucusal
                optionLabelPath="content.descripcion"
                classNames="form-control"
                prompt="Seleccione una Sucursal"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
                <label class="form-label"  for="nro_factura">Número de factura</label>
                {{input type="text" value=nro_factura class="form-control" placeholder="Número de factura"}}
            </div>
          </div>
          <label class="form-label" for="fecha">Fecha de Compra</label>
          <div class="form-group">
            <div class="col-md-4">
              {{view Bodega.views.DatePickerView value=fecha_compra_despues nullable=true placeholder="Después de"}}
            </div>
            <div class="col-md-4">
              {{view Bodega.views.DatePickerView value=fecha_compra_dia nullable=true placeholder="Día"}}
            </div>
            <div class="col-md-4"}>
              {{view Bodega.views.DatePickerView value=fecha_compra_antes nullable=true placeholder="Antes de" }}
            </div>
          </div>

          <label class="form-label" for="fecha">Fecha de Vencimiento</label>
          <div class="form-group">
            <div class="col-md-4">
              {{view Bodega.views.DatePickerView value=fecha_vencimiento_despues nullable=true placeholder="Después de"}}
            </div>
            <div class="col-md-4">
              {{view Bodega.views.DatePickerView value=fecha_vencimiento_dia nullable=true placeholder="Día"}}
            </div>
            <div class="col-md-4"}>
              {{view Bodega.views.DatePickerView value=fecha_vencimiento_antes nullable=true placeholder="Antes de" }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-theme">Generar Reporte</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
