<div role="tabpanel" class="tab-pane active" id="datospersonales">
  <div class="col-lg-12">
    <div class="form-horizontal">
      <form class="style-form" role="form" {{action "save" on="submit" }} onkeydown="Bodega.keydownFormHandler('controller:clientes.new', 'save');">
        <div class="panel panel-default" style="margin-top: 15px;">
          <div class="panel-heading">
            <h5>
              <i class="fa fa-angle-right"></i>Informaci&oacute;n del <b>Patrocinador</b></h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              {{#if id}}
                <div {{bind-attr class="id:col-lg-3:col-lg-6 feedback.personaCiRuc:has-error feedback.personaCiRuc:has-feedback" }}>
                  <label class="form-label" for="ruc">RUC/CI</label>
                  {{focus-input type="text" value=persona.ciRuc class="form-control" placeholder="RUC/CI" autofocus="autofocus" readonly=true}}
                  <span class="help-block">{{error feedback.personaCiRuc}}</span>
                  {{#if feedback.ci_ruc}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
              {{else}}
                <div {{bind-attr class="id:col-lg-3:col-lg-6 feedback.personaCiRuc:has-error feedback.personaCiRuc:has-feedback" }}>
                  <label class="form-label" for="ruc">RUC/CI</label>
                  {{focus-input type="text" value=persona.ciRuc class="form-control" placeholder="RUC/CI" autofocus="autofocus" focus-out='loadSponsor'}}
                  <span class="help-block">{{error feedback.personaCiRuc}}</span>
                  {{#if feedback.ci_ruc}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
              {{/if}}
              <div {{bind-attr class="id:col-lg-3:col-lg-6 feedback.personaTipoPersona:has-error feedback.personaTipoPersona:has-feedback" }}>
                <label class="form-label" for="tipopersona">Tipo persona</label>
                {{view Ember.Select content=tipoPersonas selection=persona.tipoPersona value=persona.tipoPersona prompt="Seleccione un valor..." classNames="form-control"}}
                <span class="help-block">{{error feedback.personaTipoPersona}}</span>
                {{#if feedback.personaTipoPersona}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              {{#if mostrarRazonSocial}}
                <div class="col-lg-6" {{bind-attr class="feedback.personaRazonSocial:has-error feedback.personaRazonSocial:has-feedback" }}>
                  <label class="form-label" for="razonSocial">Raz&oacute;n Social</label>
                  {{input type="text" value=persona.razonSocial class="form-control" placeholder="Razón Social"}}
                  <span class="help-block">{{error feedback.personaRazonSocial}}</span>
                  {{#if feedback.personaRazonSocial}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
              {{else}}
                <div class="col-lg-3" {{bind-attr class="feedback.personaNombre:has-error feedback.personaNombre:has-feedback" }}>
                  <label class="form-label" for="nombre">Nombre</label>
                  {{input type="text" value=persona.nombre class="form-control" placeholder="Nombre"}}
                  <span class="help-block">{{error feedback.personaNombre}}</span>
                  {{#if feedback.personaNombre}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
                <div class="col-lg-3" {{bind-attr class="feedback.personaApellido:has-error feedback.personaApellido:has-feedback" }}>
                  <label class="form-label" for="apellido">Apellido</label>
                  {{input type="text" value=persona.apellido class="form-control" placeholder="Apellido"}}
                  <span class="help-block">{{error feedback.personaApellido}}</span>
                  {{#if feedback.personaApellido}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
              {{/if}}
              <div {{bind-attr class="id:col-lg-3:col-lg-6 feedback.tipoSponsor:has-error feedback.tipoSponsor:has-feedback" }}>
                <label class="form-label" for="tipoSponsor">Tipo Patrocinador</label>
                {{view Ember.Select content=tiposSponsor selection=tipoSponsor value=tipoSponsor prompt="Seleccione un valor..." classNames="form-control"}}
                <span class="help-block">{{error feedback.tipoSponsor}}</span>
                {{#if feedback.tipoSponsor}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-3" {{bind-attr class="feedback.personaFechaNacimiento:has-error feedback.personaFechaNacimiento:has-feedback" }}>
                <label class="form-label" for="fechaNacimiento">Fecha Nacimiento</label>
                {{view Bodega.views.DatePickerView value=persona.fechaNacimiento}}
                <span class="help-block">{{error feedback.personaFechaNacimiento}}</span>
                {{#if feedback.personaFechaNacimiento}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              {{#unless mostrarRazonSocial}}
                <div class="col-lg-3" {{bind-attr class="feedback.personaSexo:has-error feedback.personaSexo:has-feedback" }}>
                  <label class="form-label" for="sexo">Sexo</label>
                  {{view Ember.Select content=sexos selection=persona.sexo prompt="Seleccione un valor..." value=persona.sexo classNames="form-control"}}
                  <span class="help-block">{{error feedback.personaSexo}}</span>
                  {{#if feedback.personaSexo}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
                <div class="col-lg-3" {{bind-attr class="feedback.personaEstadoCivil:has-error feedback.personaEstadoCivil:has-feedback" }}>
                  <label class="form-label" for="estadoCivil">Estado Civil</label>
                  {{view Ember.Select content=estadoCivilOpts selection=persona.estadoCivil prompt="Seleccione un valor..." value=persona.estadoCivil classNames="form-control"}}
                  <span class="help-block">{{error feedback.personaEstadoCivil}}</span>
                  {{#if feedback.personaEstadoCivil}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
                </div>
              {{/unless}}
              <div class="col-lg-3" {{bind-attr class="feedback.personaNacionalidad:has-error feedback.personaNacionalidad:has-feedback" }}>
                <label class="form-label" for="nacionalidad">Nacionalidad</label>
                {{input type="text" value=persona.nacionalidad class="form-control" placeholder="Nacionalidad"}}
                <span class="help-block">{{error feedback.personaNacionalidad}}</span>
                {{#if feedback.personaNacionalidad}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <!-- fin panel informacion basica -->
        <div class="panel panel-default" style="margin-top: 15px;">
          <div class="panel-heading">
            <h5>
              <i class="fa fa-angle-right"></i>Dirección</h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-lg-6" {{bind-attr class="feedback.personaDireccion:has-error feedback.personaDireccion:has-feedback" }}>
                <label class="form-label" for="direccion">Calle y Número</label>
                {{input type="text" value=persona.direccion class="form-control" placeholder="Calle y Número"}}
                <span class="help-block">{{error feedback.personaDireccion}}</span>
                {{#if feedback.personaDireccion}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              <div class="col-lg-6" {{bind-attr class="feedback.personaTipoDomicilio:has-error feedback.personaTipoDomicilio:has-feedback" }}>
                <label class="form-label" for="tipoDomicilio">Tipo de Domicilio</label>
                {{view Ember.Select content=tiposDomicilios selection=persona.tipoDomicilio prompt="Seleccione un valor..." value=persona.tipoDomicilio classNames="form-control"}}
                <span class="help-block">{{error feedback.personaTipoDomicilio}}</span>
                {{#if feedback.personaTipoDomicilio}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6" {{bind-attr class="feedback.personaCiudad:has-error feedback.personaCiudad:has-feedback" }}>
                <label class="form-label" for="ciudad">Ciudad</label>
                {{view Ember.Select content=ciudades optionValuePath="content.codigo" optionLabelPath="content.nombre" selectionBinding="ciudadSeleccionada" prompt="Seleccione un valor..." valueBinding="ciudadDefault" classNames="form-control"}}
                <span class="help-block">{{error feedback.personaCiudad}}</span>
                {{#if feedback.personaCiudad}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              <div class="col-lg-6" {{bind-attr class="feedback.personaBarrio:has-error feedback.personaBarrio:has-feedback" }}>
                <label class="form-label" for="barrio">Barrio</label>
                {{input type="text" value=persona.barrio class="form-control" placeholder="Barrio"}}
                <span class="help-block">{{error feedback.personaBarrio}}</span>
                {{#if feedback.personaBarrio}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-4" {{bind-attr class="feedback.personaTelefono:has-error feedback.personaTelefono:has-feedback" }}>
                <label class="form-label" for="telefono">Tel&eacute;fono</label>
                {{input type="text" value=persona.telefono class="form-control" placeholder="Teléfono"}}
                <span class="help-block">{{error feedback.personaTelefono}}</span>
                {{#if feedback.personaTelefono}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              <div class="col-lg-4" {{bind-attr class="feedback.personaCelular:has-error feedback.personaCelular:has-feedback" }}>
                <label class="form-label" for="celular">Celular</label>
                {{input type="text" value=persona.celular class="form-control" placeholder="Celular"}}
                <span class="help-block">{{error feedback.personaCelular}}</span>
                {{#if feedback.personaCelular}}
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <!-- fin panel de domicilio -->
        <div class="form-group">
          <div class="col-lg-12">
            {{#isAuthorized 'FE_post_sponsors, FE_put_sponsors'}}
              <button type="submit" class="btn btn-theme">Guardar</button>
            {{/isAuthorized}}
            <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
            {{#if id}}
              <div style="float: right;">
                <button class="btn btn-theme" {{action generarLegajo}}>Imprimir Legajo
                  <span class="glyphicon glyphicon-file"></span>
                </button>
              </div>
            {{/if}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>