<h3>
  <i class="fa fa-angle-right"></i>
  <span>{{formTitle}}</span>
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form" {{action "save" on="submit"}} onkeydown="Bodega.keydownFormHandler('controller:vendedores.new', 'save');">
          <div class="form-group">
            <div class="col-lg-4" {{bind-attr class="errors.nombre:has-error errors.nombre:has-feedback"}}>
              <label class="form-label"  for="nombre">Nombre</label>
              {{focus-input type="text" value=nombre class="form-control" placeholder="Nombre" autofocus="autofocus"}}
              <span class="help-block">{{error errors.nombre}}</span>
              {{#if errors.nombre}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
            <div class="col-lg-4" {{bind-attr class="errors.apellido:has-error errors.apellido:has-feedback"}}>
              <label class="form-label"  for="apellido">Apellido</label>
              {{input type="text" value=apellido class="form-control" placeholder="Apellido"}}
              <span class="help-block">{{error errors.apellido}}</span>
              {{#if errors.apellido}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
            <div class="col-lg-4" {{bind-attr class="errors.telefono:has-error errors.telefono:has-feedback"}}>
              <label class="form-label"  for="telefono">Tel&eacute;fono</label>
              {{input type="text" value=telefono class="form-control" placeholder="Teléfono"}}
               <span class="help-block">{{error errors.telefono}}</span>
              {{#if errors.telefono}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-6" {{bind-attr class="errors.direccion:has-error errors.direccion:has-feedback"}}>
              <label class="form-label"  for="direccion">Direcci&oacute;n</label>
              {{input type="text" value=direccion class="form-control" placeholder="Dirección"}}
              <span class="help-block">{{error errors.direccion}}</span>
              {{#if errors.direccion}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
            <div class="col-lg-6" {{bind-attr class="errors.email:has-error errors.email:has-feedback"}}>
              <label class="form-label"  for="email">Correo Electr&oacute;nico</label>
              {{input type="text" value=email class="form-control" placeholder="Correo Electrónico"}}
              <span class="help-block">{{error errors.email}}</span>
              {{#if errors.email}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
            <div class="col-lg-12" {{bind-attr class="errors.sucursales:has-error errors.sucursales:has-feedback"}}>
              <label class="form-label"  for="sucursales">Sucursales</label>
              {{view Bodega.views.TagWidgetView 
                     service='sucursales' 
                     modelType='sucursal'
                     modelID='id'
                     itemText='descripcion' 
                     itemValue='id'
                     queryScope='by_descripcion'
                     session=session
                     datasource=sucursales
                     jsonRoot='sucursales'}}
              <span class="help-block">{{error errors.sucursales}}</span>
              {{#if errors.sucursales}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-6" {{bind-attr class="errors.comision:has-error errors.comision:has-feedback"}}>
              <label class="form-label"  for="comision">Comisión</label>
              {{number-input value=comision class="form-control" min="0" max="100"}}
              <span class="help-block">{{error errors.comision}}</span>
              {{#if errors.comision}}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {{/if}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-theme">Guardar</button>
              <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
