<li class="sub-menu  dcjq-parent-li">
  <a href="javascript:;" class="dcjq-parent">
    <i class="a fa fa-shopping-cart"></i>
    <span>Inventario</span>
  </a>
  <ul class="sub" style="overflow: hidden; display: block;">
    {{partial "application/menu_productos"}}
    {{partial "application/menu_ventas"}}
    {{partial "application/menu_compras"}}
    {{partial "application/menu_cajas"}}
    {{partial "application/menu_sucursal_deposito"}}
    {{partial "application/menu_produccion"}}
    {{partial "application/menu_reportes"}}
  </ul>
</li>