<h3>
  <i class="fa fa-angle-right"></i>
  Cursos
  {{#link-to 'cursos.new'}}
    <button class="btn btn-theme btn-sm glyphicon glyphicon-plus" style="margin-top: -5px; margin-left: 5px;"></button>
  {{/link-to}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    {{view Bodega.views.FilterView}}
    <div class="table-responsive content-panel" style="padding: 0px;">
      <table class="table table-bordered table-striped table-condensed">
          <thead>
              <tr>
                <th>Descripcion</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th style="width:11%;"></th>
              </tr>
          </thead>
          <tbody>
          {{#each}}
              <tr>
                  <td>{{descripcion}}</td>
                  <td>{{dateformat fechaInicio}}</td>
                  <td>{{dateformat fechaFin}}</td>
                  <td class="center">
                    {{#link-to 'curso.edit' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-pencil"></button>
                    {{/link-to}}
                    {{#link-to 'curso.delete' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-remove"
                              data-toggle="modal" data-target="#cursoDelete"></button>
                    {{/link-to}}
                  </td>
              </tr>
          {{/each}}
          </tbody>
      </table>
    </div>
    {{view Bodega.views.PaginationView}}
  </div>
</div>
