<h3>
  <i class="fa fa-angle-right"></i>
  {{formTitle}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form" {{action "search" on="submit"}}>

          <div class="form-group">
            <div class="col-lg-4">
                <label class="form-label"  for="nombre_cliente">Nombre del cliente</label>
                {{focus-input type="text" value=nombre_cliente class="form-control" placeholder="Nombre del cliente"}}
            </div>
            <div class="col-lg-4">
                <label class="form-label"  for="apellido_cliente">Apellido del cliente</label>
                {{input type="text" value=apellido_cliente class="form-control" placeholder="Apellido del cliente"}}
            </div>
            <div class="col-lg-4">
                <label class="form-label"  for="ruc_cliente">RUC del cliente</label>
                {{input type="text" value=ruc_cliente class="form-control" placeholder="RUC del cliente"}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-6">
                <label class="form-label"  for="nombre_vendedor">Nombre del vendedor</label>
                {{input type="text" value=nombre_vendedor class="form-control" placeholder="Nombre del vendedor"}}
            </div>
            <div class="col-lg-6">
                <label class="form-label"  for="apellido_vendedor">Apellido del vendedor</label>
                {{input type="text" value=apellido_vendedor class="form-control" placeholder="Apellido del vendedor"}}
            </div>
          </div>

          <div class="form-group">
					 <div class="col-lg-6">
               <label class="form-label" for="empresas">Empresa</label>
                {{view Ember.Select content=empresas
                optionValuePath="content.id"
                selection=selectedEmpresa
                optionLabelPath="content.nombre"
                classNames="form-control"
                prompt="Seleccione una Empresa"}}
           </div>
           <div class="col-lg-6">
               <label class="form-label" for="sucursales">Sucursal</label>
                {{view Ember.Select content=sucursales
                optionValuePath="content.id"
                selection=selectedSucusal
                optionLabelPath="content.descripcion"
                classNames="form-control"
                prompt="Seleccione una Sucursal"}}
            </div>
          </div>

          <div class="form-group">
						<div class="col-lg-6">
              <label class="form-label" for="codigoBarra">C&oacute;digo de Barras</label>
              {{input type="text" value=codigoBarra class="form-control" placeholder="Código de Barras"}}
            </div>
            <div class="col-lg-6">
                <label class="form-label"  for="nro_factura">Número de factura</label>
                {{input type="text" value=nro_factura class="form-control" placeholder="Número de factura"}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-6">
               <label class="form-label" for="tipoPago">Tipo de Pago</label>
                {{view Ember.Select content=tipoPago
                selection=selectedTipoPago
                classNames="form-control"
               prompt="Seleccione el Tipo de Pago"}}
            </div>
            <div class="col-lg-6">
               <label class="form-label" for="tipoCreditos">Tipo de Crédito</label>
                {{view Ember.Select content=tipoCreditos
                optionValuePath="content.id"
                selection=selectedTipoCredito
                optionLabelPath="content.descripcion"
                classNames="form-control"
                prompt="Seleccione el Tipo de Crédito"}}
            </div>
          </div>

          <label class="form-label"  for="total">Total</label>
          <div class="form-group">
            <div class="col-md-4"}>
              {{number-input value=total_menor class="form-control" placeholder="Menor que"}}
            </div>
            <div class="col-md-4">
              {{number-input value=total_igual class="form-control" placeholder="Igual a"}}
            </div>
            <div class="col-md-4">
              {{number-input value=total_mayor class="form-control" placeholder="Mayor que"}}
            </div>
          </div>

          <label class="form-label" for="fecha">Fecha de salida</label>
          <div class="form-group">
            <div class="col-md-4">
              {{view Bodega.views.DatePickerView value=fecha_despues nullable=true placeholder="Después de"}}
            </div>
            <div class="col-md-4">
              {{view Bodega.views.DatePickerView value=fecha_dia nullable=true placeholder="Día"}}
            </div>
            <div class="col-md-4"}>
              {{view Bodega.views.DatePickerView value=fecha_antes nullable=true placeholder="Antes de" }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-3">
               <label class="form-label" for="tipoPago">Tipo de Salida</label>
                {{view Ember.Select content=tiposSalida
                selection=tipoSalidaSeleccionada
                optionLabelPath="content.descripcion"
                classNames="form-control"
               prompt="Todas"}}
            </div>
            <div class="col-lg-2">
                <label for="anulados">Anulados</label>
                {{input type="checkbox" checked=anulados class="checkbox"}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-theme">Generar Reporte</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
