<h3>
  <i class="fa fa-angle-right"></i>
  Consultorios
    {{#isAuthorized 'FE_post_consultorios'}}
      {{#link-to 'consultorios.new'}}
        <button class="btn btn-theme btn-sm glyphicon glyphicon-plus" style="margin-top: -5px; margin-left: 5px;"></button>
      {{/link-to}}
    {{/isAuthorized}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    {{view Bodega.views.FilterView}}
    <div class="table-responsive content-panel" style="padding: 0px;">
      <table class="table table-bordered table-striped table-condensed">
          <thead>
              <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Especialidad</th>
                  <th style="width:11%;"></th>
              </tr>
          </thead>
          <tbody>
          {{#each}}
              <tr>
                  <td>{{codigo}}</td>
                  <td>{{descripcion}}</td>
                  <td>{{especialidad.descripcion}}</td>
                  <td class="center">
                  {{#isAuthorized "FE_put_consultorios"}}
                    {{#link-to 'consultorio.edit' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-pencil"></button>
                    {{/link-to}}
                  {{/isAuthorized}}
                  {{#isAuthorized "FE_delete_consultorios"}}
                    {{#link-to 'consultorio.delete' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-remove"
                              data-toggle="modal" data-target="#consultorioDelete"></button>
                    {{/link-to}}
                  {{/isAuthorized}}                  
                  </td>
              </tr>
          {{/each}}
          </tbody>
      </table>
    </div>
    {{view Bodega.views.PaginationView}}
  </div>
</div>
